$mobile-width: 767px;
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
.Modal {
  width: 720px !important;
  @include mobile() {
    top: 100px !important;
  }
  .ant-modal-content {
    // background-image: url(../image/background_form.png);
    background-color: #000940;
    color: #f3e88c;
    background-clip: padding-box; /* !importanté */
    border: solid 5px transparent; /* !importanté */
    border-radius: 1em;
    position: relative;
    box-sizing: border-box;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;
      border-radius: inherit;
      background: linear-gradient(to bottom right, #f7f095, #b89746);
    }
    .ant-modal-header {
      background-color: transparent;
      border: 0;
      padding: 16px 24px 0;
      .ant-modal-title {
        text-align: center;
        top: -43px;
        position: relative;
        @include mobile() {
          top: -38px;
          img {
            width: 45%;
          }
          .CHON_SERVER,
          .TÀI {
            width: 70%;
          }
          .message {
            width: 23%;
          }
        }
      }
    }
    .ant-modal-body {
      padding: 0 32px 32px;
      @include mobile() {
        padding: 0 8px 32px;
      }
      div .ant-radio-wrapper {
        color: #f3e88c;
      }
      .alert-rewards {
        text-align: center;
        width: 65%;
        margin: 0 auto;
        @include mobile() {
          padding: 0 4px;
          width: 100%;
        }
        div {
          padding: 0.3rem 0;
        }
        h2 {
          color: #f3e88c;
          margin-top: 1rem;
          font-size: 1rem;
        }
      }
      .alert-error {
        h1,
        h2 {
          color: #f3e88c;
          @include mobile() {
            font-size: 1rem;
          }
        }
        text-align: center;
      }
      .alert-logout {
        @include mobile() {
          img {
            padding: 0.5rem;
          }
        }
      }
    }
    .ant-modal-close {
      position: absolute;
      top: -25px;
      right: 5px;
    }
    .ant-form-item {
      justify-content: space-around;
      .ant-form-item-label {
        text-align: left;
        label {
          color: white;
        }
      }
    }
  }
  .alert-login {
    height: 10px;
    margin: 0;
    color: #ef4f4f;
    position: relative;
    top: -17px;
  }
  // .alert-logout{
  //   di
  // }
  .ant-radio-checked .ant-radio-inner {
    border-color: #cdb150;
  }
  .ant-radio-checked::after,
  .ant-radio-inner::after {
    background-color: #cdb150;
  }
  .ant-radio-wrapper {
    font-size: 1rem;
  }
  .ant-radio-wrapper-checked span input:focus {
    background: #cdb150;
  }
  .ant-radio-input:focus + .ant-radio-inner {
    border-color: #cdb150;
  }
  .ant-form-item-control-input-content {
    display: flex;
    align-items: flex-end;
    a {
      margin-left: 0.5rem;
      color: #f7f095;
    }
  }
  .submit {
    div label {
      visibility: hidden;
    }
    .ant-form-item-label {
      @include mobile() {
        display: none;
      }
    }
  }
  .btn_login_gg {
    background-color: transparent !important;
    border: 0;
    div {
      display: none;
    }
    span {
      padding: 0 !important;
      opacity: 1 !important;
    }
  }
  .btn_login {
    width: 130px;
    height: 28.6px;
    @include mobile() {
      width: 105px;
    }
  }
  // history
  .ant-table {
    background: transparent;
    color: white;
    table {
      text-align: center;
    }
  }
  .ant-table-thead > tr > th {
    background: transparent;
    color: white;
    text-align: center;
  }
  .ant-table-tbody > tr {
    td:nth-child(1) {
      border-left: 1px solid;
    }
    td {
      border-right: 1px solid;
    }
  }
  .ant-table-row:hover td {
    background: transparent !important;
  }
  .ant-pagination-options {
    display: none;
  }
  .ant-pagination-item {
    :hover {
      color: white;
    }
    a {
      color: white;
    }
  }
  .mini {
    margin-top: 1rem;
    text-align: center;
  }
  .ant-pagination-item-active {
    background: #fff0;
    border-color: #fdfdfd;
    border-radius: 100%;
  }
  .ant-pagination-item-active:hover,
  .ant-pagination-item-active:focus {
    border-color: white;
    a {
      color: white;
    }
  }
  .ant-pagination-next,
  .ant-pagination-prev {
    button {
      color: white;
      cursor: pointer;
    }
  }
  .ant-pagination-disabled button {
    color: #8c8b8b !important;
  }
}
