@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$mobile-width: 767px;
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
p,
label {
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
  background-image: url(./static/image/Background.png);
  background-position: top;
  background-repeat: no-repeat;
  font-family: "Anton", sans-serif;
  overflow: hidden;
  @include mobile() {
    background-position: center;
    background-size: cover;
  }
  .btn-header {
    padding-top: 2rem;
    z-index: 2;
    position: relative;
    div {
      display: flex;
      align-items: flex-start;
      position: relative;
      flex-direction: column;
      .number-row-mobile {
        display: none;
      }
      @include mobile() {
        .number-row-mobile {
          display: block;
          img {
            position: relative;
            left: -5px;
            top: 1px;
          }
        }
        .number-row-desktop {
          display: none;
        }
      }
      img {
        width: 155px;
      }
      span {
        position: absolute;
        color: #f3e88c;
        left: 45%;
        top: 42%;
      }
      #userName {
        position: absolute;
        color: #f3e88c;
        left: 10%;
        top: 48%;
      }
    }
    div:last-child {
      align-items: flex-end;
      flex-direction: column;
      @include mobile() {
        #history-roulette {
          position: relative;
          top: -5px;
        }
      }
    }
  }
  .game-box {
    position: relative;
    width: 500px;
    z-index: 1;
    margin: 0 auto;
    @include mobile() {
      width: 300px;
      margin-top: 3rem;
    }
    .wheel-background {
      position: absolute;
      top: -118px;
      width: 147%;
      z-index: -1;
      left: -118px;
      @include mobile() {
        top: -70px;
        width: 147%;
        left: -70px;
      }
    }
    .wheel-border {
      position: absolute;
      top: -118px;
      width: 147%;
      z-index: 1;
      left: -118px;
      @include mobile() {
        top: -70px;
        width: 147%;
        left: -70px;
      }
    }
    .wheel-button {
      position: absolute;
      top: 34.5%;
      left: 34.5%;
      z-index: 2;
      pointer-events: all;
      width: 155px;
      @include mobile() {
        top: 35%;
        width: 90px;
        left: 35%;
      }
    }
    .disable-spin {
      pointer-events: none;
    }
    // effect
    .wheel-button:active {
      -ms-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -webkit-transform: scale(0.95, 0.95);
      -o-transform: scale(0.95);
      transform: scale(0.95);
    }
    .model {
      position: absolute;
      top: -112px;
      left: -400px;
      z-index: 2;
      @include mobile() {
        display: none;
      }
    }
  }
  .btn-homepage {
    padding: 10.5rem 0 5rem 0;
    display: flex;
    @include mobile() {
      padding: 7.5rem 0 5rem 0;
    }
    div {
      @include mobile() {
        margin: 0 !important;
      }
      img {
        width: 100%;
        position: relative;
        top: -50px;
        @include mobile() {
          padding: 1rem;
          position: static;
        }
      }
    }
  }
  .start-btn {
    display: none;
  }
  .btn-pointer {
    cursor: pointer;
  }
}
